.InfoContact{
    padding-top: 4%;
    padding-left: 2%;
    width: 48%;
    float:left;
}
.map{
    padding-top: 1%;
    width: 48%;
    float:right;

}
.positionMap{
    padding-left: 10%;
}
.InfoContact>h3{
    color: rgb(255,0,0);
    font-size: 6vh;
}
#InfoLivrari{
    padding-top: 4vh;
    font-size: 4vh;
}
table{

    color: yellow;
    font-size: 3vh;
}
td,th {
    height: 5vh;
    width: 50vh;
    text-align: left;
}


@keyframes translateAnimation {
    0% {
        opacity:1;
    }
    45% {
        opacity:1;
    }
    55% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
@keyframes translateAnimation2 {
    0% {
        opacity:0;
    }
    45% {
        opacity:0;
    }
    55% {
        opacity:1;
    }
    100% {
        opacity:1;
    }
}


#animationPhoto img.top {
    position: absolute;
    top:30%;
    left:50%;
    animation-name: translateAnimation;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction: alternate;
}

#animationPhoto img.bottom{
    animation-name: translateAnimation2;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction: alternate;
}
@media  only screen  and (min-width: 1181px) and (max-width: 1417px){

    .InfoContact{
        padding-top: 4%;
        margin-left: 5%;
        width: 100%;
        float:none;

    }
    table{
        margin-left: -4%;
        margin-right: 3%;
    }
    .InfoContact h3{
        display: flex;
        justify-content: center;
    }
    .map {
        display: flex;
        justify-content: center;
        padding-top: 1%;
        width: 100%;
        float: none;
    }

    img{
        display: none;
    }
}
@media  only screen  and (min-width: 768px) and (max-width: 1180px) {
    /*tableta */
    .InfoContact{
        padding-top: 4%;
        margin-left: 5%;
        width: 100%;
        float:none;

    }
    table{
        margin-left: -4%;
        margin-right: 3%;
    }
    .InfoContact h3{
        display: flex;
        justify-content: center;
    }
    .map {
        display: flex;
        justify-content: center;
        padding-top: 1%;
        width: 100%;
        float: none;
    }

    img{
        display: none;
    }

    /*body{*/
    /*    background-image: none;*/
    /*    background-color: yellow;*/
    /*}*/
}

@media  only screen  and (min-device-width: 0px) and (max-device-width: 767px) {
    /*telefon */
    .InfoContact{
        padding-top: 4%;
        margin-left: 5%;
        width: 100%;
        float:none;

    }
table{
    margin-left: -4%;
    margin-right: 3%;
}
   .InfoContact h3{
       display: flex;
       justify-content: center;
   }
    .map {
        display: flex;
        justify-content: center;
        padding-top: 1%;
        width: 100%;
        float: none;
    }

    img{
        display: none;
    }


    /*body{*/
    /*    background-image: none;*/
    /*    background-color: blue;    }*/
}
@media  screen  and (min-width: 0px) and (max-width: 767px) {
    /*laptop-minimal */
    .InfoContact{
        padding-top: 4%;
        margin-left: 5%;
        width: 100%;
        float:none;

    }
    table{
        margin-left: -4%;
        margin-right: 3%;
    }
    .InfoContact h3{
        display: flex;
        justify-content: center;
    }
    .map {
        display: flex;
        justify-content: center;
        padding-top: 1%;
        width: 100%;
        float: none;
    }

    img{
        display: none;
    }
    /*body{*/
    /*    background-image: none;*/
    /*    background-color: blue;    }*/
}